# Ignore node_modules directory
node_modules

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
.data
build
bin

# Ignore vscode workspace-specific directory
.vscode



